
<%=render 'unhead' %>

<div class="container fluid-height clearfix">
  <p id="notice" style="margin-left: 50px"><%= notice %></p>
  <div class="row">
    <div class="col-lg-12" style="width: 100%" >
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">
        <div class="col-lg-12">
          <h4 class="icon-desktop">&nbsp;详细内容</h4><p></p>

          <p>
            <span class="col-sm-12" style="text-align: right;">标题:</span>
            <%= @sideshixt.title %>&nbsp;
          </p>

          <p>
            <span class="col-sm-12" style="text-align: right;">日期:</span>
            <%= @sideshixt.date.strftime("%Y-%m-%d %H:%M:%S") %>&nbsp;
          </p>
          <p>
            <span class="col-sm-12" style="text-align: right;">内容:</span>
            <%= @sideshixt.content.html_safe %>&nbsp;
          </p>
          <p>
            <span class="col-sm-12" style="text-align: right;">状态:</span>
            <%if @sideshixt.status==1 %>
            置顶
                <%else if @sideshixt.status==0%>
            不置顶
                    <%else%>

            <%end%>
          <%end%>
          </p>

          <p>
            <%= link_to '编辑', edit_sideshixt_path(@sideshixt),class:"btn btn-primary-outline pull-right" ,'data-no-turbolink'=>true %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

