
<%= render 'unhead'%>
<div class="container fluid-height clearfix">

  <h1 class="heading">关于我们</h1>
  <div class="widget-container fluid-height clearfix" style="padding: 10px;">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th>公司简介</th>
        <th>企业文化</th>
        <th>荣誉资质</th>
        <th>环保理念</th>
        <th>总经理致辞</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @sideabouts.each do |sideabout| %>
          <tr>
            <td><%= sideabout.about %></td>
            <td><%= sideabout.culture %></td>
            <td><%= sideabout.qualification %></td>
            <td><%= sideabout.concept %></td>
            <td><%= sideabout.speech %></td>
            <td width="100px" align="center"><%= link_to "", sideabout,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', sideabout, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>








    <%= link_to ' 新增',  new_sideabout_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>