<div class="Cons">联系我们</div>
<div class="contrat">
  <%@sidecfgs.each do |f| %>
      <p>公司名称：<%=f.company%></p>
      <p>联系电话：<%=f.tel%></p>
      <p>传真：<%=f.fax%></p>
      <p>地址：<%=f.address%></p>
      <p>订阅号：<%=f.dingyuhao%></p>
  <%end%>
</div>