
<%= render 'unhead'%>
<div class="container fluid-height clearfix">

  <h1 class="heading">全局设置</h1>
  <div class="widget-container fluid-height clearfix" style="padding: 10px;">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th>公司名称</th>
        <th>电话</th>
        <th>传真</th>
        <th>地址</th>
        <th>订阅号</th>
        <th>图片</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @sidecfgs.each do |sidecfg| %>
          <tr>
            <td><%= sidecfg.company %></td>
            <td><%= sidecfg.tel %></td>
            <td><%= sidecfg.fax %></td>
            <td><%= sidecfg.address %></td>
            <td><%= sidecfg.dingyuhao %></td>
            <td><%= sidecfg.image%></td>
            <td align="center"><%= link_to '', edit_sidecfg_path(sidecfg), class:"icon-pencil usricons", title: "编辑" ,'data-no-turbolink'=>true%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


</div>