<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @sidecfg.company %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @sidecfg.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @sidecfg.fax %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sidecfg.address %>
</p>

<p>
  <strong>Dingyuhao:</strong>
  <%= @sidecfg.dingyuhao %>
</p>

<%= link_to 'Edit', edit_sidecfg_path(@sidecfg) %> |
<%= link_to 'Back', sidecfgs_path %>
